<h3 class="mdl-dialog__title">
    <strong>
        <input type="text" class="input" [(ngModel)]="title" placeholder="Title ..." />
    </strong>
</h3>

<div class="mdl-dialog__content">
    <mdl-list>
        <mdl-list-item *ngFor="let step of steps">
            <div [ngSwitch]="step.type">
                <mdl-list-item-primary-content *ngSwitchCase="'text'">
                    <input type="text" class="input" [(ngModel)]="step.text" />
                </mdl-list-item-primary-content>
                <mdl-list-item-secondary-action>
                    <mdl-icon>text_fields</mdl-icon>
                    <mdl-icon>code</mdl-icon>
                </mdl-list-item-secondary-action>
            </div>
        </mdl-list-item>
        <mdl-list-item>
            <mdl-list-item-primary-content>
                <input type="text" class="input" [(ngModel)]="text" placeholder="Enter text ..." (keyup)="onKeyup($event)" />
            </mdl-list-item-primary-content>
            <mdl-list-item-secondary-action>
                <mdl-icon-toggle [(ngModel)]="type.text" (click)="changeType('text')" [mdl-tooltip]="'Text'" >text_fields</mdl-icon-toggle>
                <mdl-icon-toggle [(ngModel)]="type.code" (click)="changeType('code')" [mdl-tooltip]="'Code'">code</mdl-icon-toggle>
            </mdl-list-item-secondary-action>
        </mdl-list-item>
    </mdl-list>
</div>

<div class="mdl-dialog__actions">
    <button mdl-button (click)="close()" mdl-ripple>Done</button>
</div>
