<h3 mat-dialog-title>
    <strong>
        <input type="text" class="input" [(ngModel)]="title" placeholder="Title ..." />
    </strong>
</h3>

<div mat-dialog-content>
    <mat-list>
        <mat-list-item *ngFor="let step of steps">
            <div [ngSwitch]="step.type">
                <input *ngSwitchCase="'text'" type="text" class="input" [(ngModel)]="step.text" />
            </div>
        </mat-list-item>
        <mat-list-item>
            <input type="text" class="input" [(ngModel)]="text" placeholder="Enter text ..." (keyup)="onKeyup($event)" />
            <mat-button-toggle-group [(ngModel)]="type">
                <mat-button-toggle value="text" matTooltip="Text">
                    <mat-icon>text_fields</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="code" matTooltip="Code">
                    <mat-icon>code</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </mat-list-item>
    </mat-list>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="close()">Done</button>
</div>
