<div fxFlexOffset="35" fxFlex="25">
    <h2>Login</h2>
    <form [formGroup]="form">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="email.invalid">{{getError('email')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="password.invalid">{{getError('password')}}</mat-error>
        </mat-form-field>
        <div class="error">{{error}}</div>
        <button mat-raised-button color="accent" (click)="login()" [disabled]="!form.valid || loading">Login</button>
        <br>
        <button mat-raised-button (click)="loginGoogle()">
            <img src="/assets/img/google-logo.png" height="30"> Sign in with Google
        </button>
        <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
    </form>
    <br>
    <a [routerLink]="['/signup']">Create an account</a>
</div>
