<div class="mat-typography">
    <mat-toolbar color="primary">
        <span>SnippetVault</span>
        <div fxFlex="auto"></div>
        <ng-container *ngIf="user || {} as user">
            <button mat-button *ngIf="!user.uid" [routerLink]="['login']">Login</button>
            <div *ngIf="user.uid">
                <button mat-button [matMenuTriggerFor]="menu" fxLayoutAlign="center center">
                    <span class="username">{{user.displayName}}</span>
                    <img class="card-img-top avatar" [src]="user.photoURL || 'http://identicon.org/?t=SnippetVault&s=50'">
                </button>
                <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
                    <button mat-menu-item (click)="signOut()">
                        Logout
                    </button>
                </mat-menu>
            </div>
        </ng-container>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>
