<div fxFlexOffset="35" fxFlex="25">
    <h3>Sign up</h3>
    <form [formGroup]="form">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="email.invalid">{{getError('email')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="name.invalid">{{getError('name')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="password.invalid">{{getError('password')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Repeat password" formControlName="password2" required>
            <mat-error *ngIf="password2.invalid">{{getError('password2')}}</mat-error>
        </mat-form-field>
        <div class="error">{{error}}</div>
        <button mat-raised-button color="accent" (click)="signup()" [disabled]="!form.valid || loading">Sign up</button>
        <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
    </form>
    <br>
    <a [routerLink]="['/login']">Already have an account? Log in</a>
</div>
